<!DOCTYPE html>
<html lang="en" ng-app="mini">
<head>
  <title>miniInbox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-socket-io/socket.js"></script>




   <!-- // <script src="scripts/app.js"></script> -->
</head>
<body ng-controller="mainController">
<div style="margin-top:10%">
<div class="container">
<div class="row">
<div  class="col-sm-4 col-xs-2">&nbsp;</div>
<div class="col-sm-4 col-xs-8">
  <div class="panel panel-default">

  <!-- href="/auth/facebook" -->
    <h3 class="text-center">miniInbox app </h3>
    <div class="panel-heading" style="text-align:center"><img src="public/img/miniInbox.png"></div>
    <!-- <h3 class="text-center" >miniInbox app </h3> -->
    <div class="panel-body" style="text-align:center"><a ng-click="redirect()" > <img src="public/img/fb.png" width="230em"></a></div>
    <!-- <div class="panel-footer">Created By <a href="https://www.linkedin.com/">ENNAJI ELmahfoud</a></div> -->
  </div>
  </div>
  <div  class="col-sm-4 col-xs-2"></div>
</div>
</div>
</div>
    <script src="bower_components/angular-mass-autocomplete/massautocomplete.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
 <script src="scripts/app.js"></script> 
</body>
</html>
